/* flashing cursor color shifting animation */

#cursor {
    background-color:  #00FFFF;
    color:  #FF0000;
    animation: rotatecolors 5s infinite;
}

@keyframes rotatecolors {
    50% {background-color:  #000000;}
    50% {color:  #FFFF00;}
}
